* {
    margin: 0;;
    padding: 0;
}

body {
    background-color: #eeeeee;
}
#headerbar{
    margin: 8px 0px 8px 0px;
}
.pic {
    width: 100%;
    height: auto;
}
.pic:hover{
    border:solid;
    border-width:1px;
}

.content {
    padding: 5px 5px 15px 5px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
}
.content:hover{
    border-style: groove;
}

.grid-item {
    /*width: 20%;*/
}

.col-xs-6, .col-sm-3, .col-md-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.icon {
    border-radius: 3px;
    vertical-align: middle;
    max-width: 32px;
    max-height: 32px;
    opacity: 1;
}

.icon-text {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}